@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60, 1%, 14%;
    --foreground: 0, 0%, 87%;

    --card: 0, 0%, 0%;
    --card-foreground: 0, 0%, 87%;

    --popover: 0, 0%, 0%;
    --popover-foreground: 0, 0%, 87%;

    --primary: 312, 100%, 78.2%;
    --primary-foreground: 0, 0%, 0%;

    --secondary: 0, 0%, 0%;
    --secondary-foreground: 0, 0%, 87%;

    --muted: 0, 0%, 0%;
    --muted-foreground: 0, 0%, 87%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 0, 0%, 35.29%;
    --input: 0, 0%, 35.29%;
    --ring: 0, 0%, 35.29%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
